[project]
name = "tiktok-remove-userbot"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "dotenv>=0.9.9",
    "pyrogram>=2.0.106",
    "tgcrypto>=1.2.5",
]
